<div class="container-sm col-6">
<h4>Je me connecte</h4>
<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="col-md-6">
    <div class="input-group mb-2 mr-sm-2">
        <input type="password" class="form-control" id="Password" formControlName="password">
        <div class="input-group-prepend">
            <button type="button" class="input-group-text theme-btn--dark1 btn--md show-password">show</button>
        </div>
    </div>
</div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div class="col-12">
  <div class="border-top">
      <a routerLink="/signup" class="no-account">Pas encore de compte? cliquez pour créer un compte </a>
  </div>
</div>
</div>
