<div class="container-sm col-6">
  <h4>Ajouter une tache</h4>
  <form [formGroup]="todoForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label">Nom</label>
      <input type="text" class="form-control"  formControlName="todoName">

    </div>
    <div class="form-group">
      <label class="form-label">Description</label>
      <textarea class="form-control" placeholder="Leave a comment here" formControlName="todoDescription"></textarea>
    </div>
    <div class="form-group">
      <label>Catégories</label>

    <select class="form-select"  formControlName="category" >

      <option *ngFor="let catg of categories"[value]="catg._id">{{catg.categoryName}}, {{catg._id}}, {{catg.categoryColor}}</option>

    </select>
    <button type="button" (click)="onCreateCategory()">ajouter une nouvelle catégorie</button>

    </div>
    <div class="form-group">
      <label>Etat</label>
      <select class="form-select" id="categories" formControlName="todoStatus">

        <option value="false">En cours</option>
        <option value="true">Terminé</option>

      </select>
      </div>
      <div class="form-group"><p>span pr reccup le user et le mettre ici</p>
      <input  formControlName="author"/>
      </div>
    <button type="submit" class="btn btn-primary" [disabled]="todoForm.invalid">Enregistrer</button>
  </form>
  </div>
