<div class="container-sm col-6">
  <h4>Ajouter une tache</h4>
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1" class="form-label">Nom</label>
      <input type="text" class="form-control" >

    </div>
    <div class="form-group">
      <label class="form-label">Description</label>
      <textarea class="form-control" placeholder="Leave a comment here"></textarea>
    </div>
    <div class="form-group">
    <select class="form-select" aria-label="Default select example">
      <option selected>Categories</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
    </div>
    <div class="form-group">
      <select class="form-select" id="categories">
        <option selected>Statut</option>
        <option value="">En cours</option>
        <option value="2">Terminé</option>

      </select>
      </div>
    <button type="submit" class="btn btn-primary">Enregistrer</button>
  </form>
  </div>
