<div class="container mt-1">
  <h5> Ma liste</h5>
  <mat-spinner style="margin-bottom: 300px;" class="container text-center" *ngIf="isLoading"></mat-spinner>
<div *ngIf="!isLoading" class="container mt-2">

<div *ngIf="todos.length == 0">
  Pas de taches saisies
</div>
<div  *ngIf="todos.length !== 0">
  <ul class="list-group">

    <li class="list-group-item" *ngFor="let todo of todos, let i = index">
      <div class="row"><p>N°:{{i+1}}</p>

      <h3>{{todo.todoName}}</h3></div>
      <div class="row">
     <h3>{{todo.category}}</h3>
      <h3>{{todo.author}}</h3>
      <h3>{{todo.createdAt|date}}</h3>
<button routerLink="/detail-todo/:id">détail</button>
<button>{{todo.todoStatus}}</button>
    </div>
      {{todo|json}}
    </li>
  </ul>
</div>
</div>
</div>
